.so-widget-blog-style-two-blog-style-two-style-f70b9422c3b0 .blog_two_style {
  margin-bottom: 20px;
  border: 1px solid #ebeaea;
  border-bottom-width: 3px;
  /* min-height: 645px;*/
}
.so-widget-blog-style-two-blog-style-two-style-f70b9422c3b0 .all_main .columns,
.so-widget-blog-style-two-blog-style-two-style-f70b9422c3b0 .all_main .column {
  margin: 0 1%;
}
.so-widget-blog-style-two-blog-style-two-style-f70b9422c3b0 .blog_two_style .image img {
  display: block;
  width: 100%;
  height: 100%;
}
.so-widget-blog-style-two-blog-style-two-style-f70b9422c3b0 .blog_two_style .content {
  padding: 20px;
}
.so-widget-blog-style-two-blog-style-two-style-f70b9422c3b0 .blog_two_style .content .border {
  border-style: double;
  padding: 1px;
  border-top: 1px solid #ebeaea;
  border-bottom: 1px solid #ebeaea;
  border-left: 0;
  border-right: 0;
  margin: 15px 0;
}
.so-widget-blog-style-two-blog-style-two-style-f70b9422c3b0 .blog_two_style .meta .glyphicon {
  top: 0;
}
.so-widget-blog-style-two-blog-style-two-style-f70b9422c3b0 .blog_two_style .content h4 {
  color: #000000;
}
.so-widget-blog-style-two-blog-style-two-style-f70b9422c3b0 .blog_two_style .content h4 a {
  color: #000000;
}
.so-widget-blog-style-two-blog-style-two-style-f70b9422c3b0 .blog_two_style .content {
  color: #000000;
}
.so-widget-blog-style-two-blog-style-two-style-f70b9422c3b0 .blog_two_style .meta {
  color: #000000;
}